<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="merchantDetails">
      <h2 data-cy="merchantDetailsDetailsHeading"><span>Merchant Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ merchantDetails.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ merchantDetails.name }}</span>
        </dd>
        <dt><span>Country</span></dt>
        <dd>
          <span>{{ merchantDetails.country }}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
          <span>{{ merchantDetails.city }}</span>
        </dd>
        <dt><span>Store Icon</span></dt>
        <dd>
          <span>{{ merchantDetails.storeIcon }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ merchantDetails.type }}</span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ merchantDetails.location }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/merchant-details', merchantDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
