<div>
  <h2 id="page-heading" data-cy="MerchantDetailsHeading">
    <span>Merchant Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-merchant-details"
        [routerLink]="['/merchant-details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Merchant Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="merchantDetails?.length === 0">
    <span>No merchantDetails found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="merchantDetails && merchantDetails.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"><span>City</span></th>
          <th scope="col"><span>Store Icon</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Location</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let merchantDetails of merchantDetails; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/merchant-details', merchantDetails.id, 'view']">{{ merchantDetails.id }}</a>
          </td>
          <td>{{ merchantDetails.name }}</td>
          <td>{{ merchantDetails.country }}</td>
          <td>{{ merchantDetails.city }}</td>
          <td>{{ merchantDetails.storeIcon }}</td>
          <td>{{ merchantDetails.type }}</td>
          <td>{{ merchantDetails.location }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/merchant-details', merchantDetails.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/merchant-details', merchantDetails.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(merchantDetails)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
